{
  "openapi" : "3.0.0",
  "info" : {
    "title" : "Flogo Hello-World API 3.0",
    "description" : "",
    "termsOfService" : "http://swagger.io/terms/",
    "contact" : {
      "email" : "mmussett@tibco.com"
    },
    "license" : {
      "name" : "Apache 2.0",
      "url" : "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version" : "1.0.0"
  },
  "externalDocs" : {
    "description" : "Find out more about Swagger",
    "url" : "http://swagger.io"
  },
  "servers" : [ {
    "url" : "https://flogo.vmlab.live/tibco/apps/flogo-hello-world/v1/hello-world"
  } ],
  "paths" : {
    "/hello-world" : {
      "get" : {
        "summary" : "Hello-World",
        "description" : "Simple Hello World Flogo Application",
        "operationId" : "helloworld",
        "parameters" : [ {
          "name" : "name",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "inline_response_200" : {
        "type" : "object",
        "properties" : {
          "msg" : {
            "type" : "string"
          }
        }
      }
    }
  }
}